[submodule "external/3x-ui"]
	path = external/3x-ui
	url = https://github.com/w3struk/3x-ui.git
[submodule "external/mihomo"]
	path = external/mihomo
	url = https://github.com/MetaCubeX/mihomo.git
	branch = Meta
